.buildpath
.settings/
.project
.DS_STORE
.idea/

/build/bin
/build/build.properties
/build/buildlang
/build/phingext
/build/templates/release*
/build/tools

/documentation/*.xml~

/fof/include.php
/fof/lib_fof.xml
/fof/lib_f0f.xml
/fof/version.txt

/fof2/include.php
/fof2/lib_fof.xml
/fof2/lib_f0f.xml
/fof2/version.txt

/release/*.zip

/strapper/version.txt
/strapper/files_strapper.xml
/strapper/akeeba_strapper/version.php

/tests/environments/3.x/cache/
/tests/environments/3.x/templates/fake_test_template
/tests/environments/2.5/cache/
/tests/environments/2.5/templates/fake_test_template
/tests/config.php
/tests/unit/config.php

/vendor/*


DESCRIPTION.html
RELEASENOTES.html