.buildpath
.settings/
.project
.DS_STORE
.idea/

/build/bin
/build/build.properties
/build/buildlang
/build/phingext
/build/templates/release*
/build/tools

/documentation/*.xml~

/fof/include.php
/fof/lib_fof30.xml
/fof/lib_f0f.xml
/fof/version.txt

/release/*.zip

/strapper/version.txt
/strapper/files_strapper.xml
/strapper/akeeba_strapper/version.php

/Tests/environments/
/Tests/coverage
/Tests/config.php

/vendor/*


DESCRIPTION.html
RELEASENOTES.html
Tests/coverage
